:root {
  --big-radius: 40px;
  --small-radius: 20px;
  --small-border: 1px solid black;
  --red: #f71c36;
  --light-blue: #a3b3ff;
  --medium-blue: #758bfd;
  --strong-blue: #365af7;
}

.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
