.airStatus {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  padding: 60px 80px;
  gap: 50px;
}
.icon {
  font-size: 8rem;

  &.green {
    color: #70e000;
  }

  &.yellow {
    color: #e7ea36;
  }

  &.orange {
    color: #fe7f2d;
  }

  &.red {
    color: #ff0000;
  }

  &.purple {
    color: #8506d3;
  }
}

#iconDescription {
  font-size: 1.3rem;
}
