@custom-media --viewport-XXS (width <= 320px);
@custom-media --viewport-XS (width <= 480px);
@custom-media --viewport-S (width <= 600px);
@custom-media --viewport-M (width <= 768px);
@custom-media --viewport-L (width <= 900px);
@custom-media --viewport-XL (width <= 1024px);
@custom-media --viewport-XXL (width <= 1200px);
