.airStatus {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  padding: 60px 80px;
  gap: 50px;
}
.icon {
  font-size: 8rem;

  &.green {
    color: #75e215;
  }

  &.yellow {
    color: #dadc3b;
  }

  &.orange {
    color: #fca36f;
  }

  &.red {
    color: #f58e8e;
  }

  &.purple {
    color: #935ab6;
  }
}

#iconDescription {
  font-size: 1.3rem;
}
